<h1>Welcome to the events page <%= current_user.name %>!</h1>

<% if logged_in? %>
  <p><%= link_to 'My events', '#' %></p>
<% else %>
  <p><%= link_to "Log in", login_path %></p>
  <p><%= link_to "Sign up", new_user_path %></p>
<% end %>